@import "tailwindcss";

@theme {
    --color-primary-100: #00F5FF;
    --color-secondary-100: #448084;
    --color-tertiary-100: #A0A0A0;
    --color-neutral-900: #121212;
    --color-neutral-500: #1C1C1C;

    --font-headline: "Space Grotesk", sans-serif;
    --font-body: "Inter", sans-serif;
    --font-label: "Space Grotesk", sans-serif;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_opsz,wght.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}